<dynamic-table [tableName]="'Team'" [load]="info.get$" [buttons]="info.Buttons" [captionButton]="info.captionButton"
    (onLazy)="info.getSub$.next($event)"></dynamic-table>
<p-dialog header="New Team" [appendTo]="'body'" [modal]="true" [(visible)]="addDialog" [style]="{ width: '25rem' }">
    <team-add (close)="info.getSub$.next(true);addDialog = false" *ngIf="addDialog"></team-add>
</p-dialog>
<p-dialog header="Edit Team" [appendTo]="'body'" [modal]="true" [(visible)]="editDialog" [style]="{ width: '25rem' }">
    <team-edit [teamId]="editTeamId" (close)="info.getSub$.next(true);editDialog = false"
        *ngIf="editDialog"></team-edit>
</p-dialog>
<p-dialog header="New Team" [appendTo]="'body'" [modal]="true" [(visible)]="displayDialog"
    [style]="{ width: '25rem' }">
    <team-display [teamId]="displayTeamId" (close)="info.getSub$.next(true);displayDialog = false"
        *ngIf="displayDialog"></team-display>
</p-dialog>