@use "../../../../../public/color" as *;
tr {
  display: flex;
  border-bottom: 1px solid;
  th,
  td {
    min-width: 150px;
    padding-block: 0 !important;
    border: 0;
    display: flex;
    align-items: center;
    & > div {
      display: flex;
      justify-content: left;
    }
    & > small {
      display: flex;
      width: 100%;
      text-wrap: auto;
      padding-inline: 5px;
    }
  }
  td {
    ::ng-deep .p-toggleswitch-slider {
      position: relative;
    }
  }
  th:first-child,
  td:first-child {
    min-width: 200px;
    position: sticky;
    left: 0;
    padding-block: 0 !important;
    background-color: $c4;
    box-shadow: 0px 0px 2px;
  }
}

::ng-deep .p-datatable-table-container table {
  width: 100% !important;
  min-width: 100% !important;
  .p-button {
    padding: 0;
  }
}
::ng-deep .p-paginator {
  flex-wrap: nowrap;
  .p-paginator-rpp-dropdown {
    max-width: 100px;
  }
}
::ng-deep
  .p-datatable-hoverable
  .p-datatable-tbody
  > tr:not(.p-datatable-row-selected):hover {
  background: var(--p-datatable-row-hover-background) !important;
}
::ng-deep .p-datatable.p-datatable-sm .p-datatable-header {
  border: 0;
}
::ng-deep .p-datatable-thead {
  box-shadow: 0px 0px 5px;
}
