::ng-deep .p-floatlabel {
  min-width: 250px;
  label {
    z-index: 2;
    padding-left: 15px;
  }
}
.required::after {
  content: " *";
  color: red;
}
::ng-deep .p-checkbox.p-disabled .p-checkbox-box{
  background-color: #04457f !important;
}