<ng-container [ngSwitch]="object.dataType">
    <p-floatlabel class="w-full md:w-56" variant="on">
        <ng-template ngSwitchCase="list">
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
            <p-select optionDisabled="disable" #drop (onChange)="drop.resetFilter()" [id]="object.label"
                [appendTo]="'body'" [options]="object.options" [formControl]="FEcontrol" optionLabel="name"
                [filter]="object.options ? object.options.length > 4 : false" optionValue="id" [showClear]="true"
                [checkmark]="true"></p-select>
        </ng-template>
        <ng-template ngSwitchCase="List">
            <div class="field"></div>
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
            <p-select optionDisabled="disable" [showTransitionOptions]="'250ms'" [hideTransitionOptions]="'250ms'"
                [showTransitionOptions]="'250ms'" [hideTransitionOptions]="'250ms'" #drop
                (onChange)="drop.resetFilter()" (onFilter)="filterList($event)" [appendTo]="'body'" [id]="object.label"
                [options]="object.options" [formControl]="FEcontrol"
                [filter]="object.options ? object.options.length > 4 : false" optionLabel="name" optionValue="id"
                [showClear]="true" [checkmark]="true"></p-select>
        </ng-template>
        <ng-template ngSwitchCase="int">
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
            <p-inputNumber [step]="1" [id]="object.label" [formControl]="FEcontrol" [min]="object.required ? 1 : null"
                [showButtons]="true" (keydown)="preventSpace($event, FEcontrol.value)"></p-inputNumber>
        </ng-template>
        <ng-template ngSwitchCase="float">
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
            <p-inputNumber [minFractionDigits]="1" [step]="0.1" mode="decimal" [formControl]="FEcontrol"
                [id]="object.label" [showButtons]="true" [min]="object.required ? 0.1 : null"></p-inputNumber>
        </ng-template>
        <ng-template ngSwitchCase="double">
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
            <p-inputNumber [minFractionDigits]="1" [step]="0.1" mode="decimal" [formControl]="FEcontrol"
                [id]="object.label" [showButtons]="true" [min]="object.required ? 0.1 : null"></p-inputNumber>
        </ng-template>
        <ng-template ngSwitchCase="email">
            <input [id]="object.label" [formControl]="FEcontrol" type="email" pInputText />
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
        </ng-template>
        <ng-template ngSwitchCase="string">
            <input [id]="object.label" [formControl]="FEcontrol" type="text" pInputText />
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
        </ng-template>
        <ng-template ngSwitchCase="password">
            <p-password [id]="object.label" [feedback]="false" [formControl]="FEcontrol" type="text"
                [toggleMask]="true" />
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
        </ng-template>
        <ng-template ngSwitchCase="boolean">
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{ object.label }}</label>
            <p-checkbox [binary]="true" [formControl]="FEcontrol" [value]="object.value" inputId="binary"></p-checkbox>
        </ng-template>
        <ng-template ngSwitchCase="autoComplete">
            <div class="p-field">
                <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                    object.label
                    }}</label>
                <p-autoComplete [dropdown]="true" [id]="object.label" [name]="object.key"
                    [(ngModel)]="autoCompleteValue" field="name" [suggestions]="items ?? []"
                    [disabled]="disableAutoComplete()" [virtualScroll]="true" [virtualScrollItemSize]="10"
                    (completeMethod)="getSuggestions($event)" (onSelect)="selectValue($event.value)"
                    [appendTo]="'body'"></p-autoComplete>
            </div>
        </ng-template>
        <ng-template ngSwitchCase="DateTime">
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
            <p-calendar (onSelect)="selectDate($event)" appendTo="body" dataType="string" [showIcon]="true"
                inputId="icon" dateFormat="yy-mm-dd" [formControl]="FEcontrol"></p-calendar>
        </ng-template>
        <ng-template ngSwitchCase="datetime">
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
            <p-calendar (onSelect)="selectDate($event)" appendTo="body" dataType="string" [showIcon]="true"
                inputId="icon" dateFormat="yy-mm-dd" [formControl]="FEcontrol"></p-calendar>
        </ng-template>
        <ng-template ngSwitchCase="MultiSelect">
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
            <p-multiSelect [showTransitionOptions]="'250ms'" [hideTransitionOptions]="'250ms'" [appendTo]="'body'"
                [id]="object.label" [options]="object.options" [formControl]="FEcontrol" [selectionLimit]="object.Max"
                optionLabel="name" optionValue="id" [showClear]="object.required ? false : true"></p-multiSelect>
        </ng-template>
        <ng-template ngSwitchCase="year">
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
            <p-datepicker [minDate]="now" [(ngModel)]="autoCompleteValue" (onSelect)="selectYM($event,'yy')"
                appendTo="body" view="year" dateFormat="yy"></p-datepicker>
        </ng-template>
        <ng-template ngSwitchCase="month">
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
            <p-datepicker [minDate]="now" [(ngModel)]="autoCompleteValue" (onSelect)="selectYM($event,'mm')"
                appendTo="body" view="month" dateFormat="mm"></p-datepicker>
        </ng-template>
    </p-floatlabel>
    <small *ngIf="object.dataType === 'autoComplete'" [id]="object.label + 'help'" class="helper">AutoComplete</small>
    <small [id]="object.label + 'help'" class="helper">{{ object.desc }}</small>

    <ng-template ngSwitchCase="bool">
        <div style="display: flex;flex-direction: column;">
            <label [ngClass]="{ required: object.required }" [for]="object.label">{{
                object.label
                }}</label>
            <p-checkbox [binary]="true" [formControl]="FEcontrol" [value]="object.value" inputId="binary"></p-checkbox>
            <small [id]="object.label + 'help'" class="helper">{{ object.desc }}</small>
        </div>
    </ng-template>
</ng-container>