::ng-deep .p-floatlabel {
  min-width: 250px;
  label {
    z-index: 2;
    padding-left: 15px;
  }
}
.required::after {
  content: " *";
  color: red;
}
::ng-deep .p-checkbox.p-disabled .p-checkbox-box {
  background-color: #919191 !important;
}
.helper {
  position: absolute;
  color: #919191;
}
::ng-deep .p-virtualscroller {
  min-height: 100px !important;
  .p-autocomplete-option {
    height: 30px !important;
  }
}
