<div class="full">
    <div class="title">
        <div class="above-nav">
            <p-button size="small" (click)="toggle = !toggle" [rounded]="true" icon="pi pi-align-justify
            " />
            <a [routerLink]="['/admin']">
                <img src="logo.webp" id="logo">
            </a>
        </div>
        <div>

            <p-button size="small" (click)="menu.toggle($event)" [rounded]="true" icon="pi pi-user
            " />
            <p-menu [style]="{'position': 'absolute'}" #menu [model]="items" [popup]="true" />
        </div>
    </div>
    <div class=" sub-full">
        <div class="nav" [ngClass]="{'visible': toggle,'hide': !toggle}">
            <admin-nav></admin-nav>
        </div>
        <div class=" routlet-div">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<p-dialog header="Reset Password" [appendTo]="'body'" [modal]="true" [(visible)]="showChangePasswordDialog"
    [style]="{ width: '25rem' }">
    <dynmaic-form (submit)="submit($event)" [direction]="'row'" [withBackBtn]="false" [justOneStep]="true"
        [objs]="resetObjs" style="width: 100%;" [scrollHeight]="'100%'"></dynmaic-form>
</p-dialog>