.a4-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  * {
    font-size: calc(12 * 1.3333px) !important;
    font-family: "Times New Roman", Times, serif !important;
  }
  .chk-before {
    display: flex;
    gap: 10px;
    align-items: baseline;
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border: 2px solid;
    }
  }
  .chk-after {
    display: flex;
    gap: 10px;
    align-items: baseline;
    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border: 2px solid;
    }
  }
  .larg {
    font-size: calc(13 * 1.3333px) !important;
  }
  .sml {
    font-size: calc(9 * 1.3333px) !important;
  }
  p {
    margin: 0;
  }
  .a4-document {
    width: 210mm;
    height: 297mm;
    min-width: 210mm;
    min-height: 297mm;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 8mm 10mm;
    box-sizing: border-box;
    position: relative;
    margin-block: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    td {
      padding: 10px 5px;
    }
    small {
      font-size: 11px;
      font-weight: bold;
      color: gray;
    }
    .header {
      display: flex;
      justify-content: space-between;

      img {
        filter: brightness(0) contrast(0.5);
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: calc(100% - 110px);
      .order {
        display: flex;
        justify-content: space-between;
        padding-block: 5px;
      }
      .request-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .brdr {
          display: flex;
          width: 250px;
          height: 40px;
        }
      }
    }
  }
  .tool {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
    box-shadow: 0px 1px 5px 0px;
  }
}
