<div class="full">
    <div class="sub-full">
        <div class="logo">
            <img src="logo.webp" id="logo">
        </div>
        <div class="container">
            <div class="sub-container">
                <dynmaic-form *ngIf="objs"style="width: 100%;" [submitLabel]="'Login'" [scrollHeight]="'100%'" [withBackBtn]="false"
                    (submit)="submit($event)" [objs]="objs" [justOneStep]="true">
                </dynmaic-form>
            </div>
        </div>
    </div>
</div>