<ad-template [title]="'Contract'" [subTitle]="'contract of ' + emp.name + ' employee'">
    <div id="con2" con2>
        <dynamic-table [tableName]="'Contract'" (onLazy)="info.getSub$.next($event)" [lazyLoading]="true"
            [load]="info.get$" [buttons]="info.Buttons" [captionButton]="info.captionButton"></dynamic-table>
    </div>
</ad-template>
<p-dialog [header]="'New Contract of ' + emp.name + ' employee'" [appendTo]="'body'" [modal]="true"
    [(visible)]="addDialog" [style]="{ width: '35vw' }">
    <dynmaic-form *ngIf="addDialog" (submit)="add($event)" [display]="'flex'" [withBackBtn]="false" [justOneStep]="true"
        [objs]="resetObjs" style="width: 100%;" [scrollHeight]="'100%'"></dynmaic-form>
</p-dialog>
<p-dialog header="Edit Contract" [appendTo]="'body'" [modal]="true" [(visible)]="editDialog"
    [style]="{ width: '25rem' }">
    <dynmaic-form *ngIf="editDialog" (submit)="edit($event)" [display]="'flex'" [withBackBtn]="false"
        [justOneStep]="true" [objs]="resetObjs" style="width: 100%;" [scrollHeight]="'100%'"></dynmaic-form>
</p-dialog>
<p-dialog header="Display Contract" [appendTo]="'body'" [modal]="true" [(visible)]="displayDialog"
    [style]="{ width: '25rem' }">
    <dynmaic-form *ngIf="displayDialog" [isShow]="true" (submit)="info.getSub$.next(true)" [display]="'flex'"
        (submit)="displayDialog = false;" [withBackBtn]="false" [justOneStep]="true" [objs]="resetObjs"
        style="width: 100%;" [scrollHeight]="'100%'"></dynmaic-form>
</p-dialog>