<ad-template [title]="'Salary of ' + emp.name" [subTitle]="'Table'">
    <div id="con2" con2>
        <dynamic-table [tableName]="'Salary'" (onLazy)="info.getSub$.next($event)" [lazyLoading]="true"
            [load]="info.get$" [buttons]="info.Buttons" [captionButton]="info.captionButton"></dynamic-table>
    </div>
</ad-template>
<p-dialog [header]="'Calc Salary for ' + emp.name" [appendTo]="'body'" [modal]="true" [(visible)]="calcDialog"
    [style]="{ width: '25rem' }">
    <dynmaic-form *ngIf="calcDialog" [disableAtt]="disableAtt"  (submit)="calc($event)" [withBackBtn]="false" [justOneStep]="true"
        [objs]="resetObjs"></dynmaic-form>
</p-dialog>